body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
h2 {
  text-align: center;
}
input,
select {
  margin: 20px 5px;
}
/* Full-width input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
input[type="radio"] {
  vertical-align: middle;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.loginform {
  border: 1px solid #ccc;
  width: 600px;
  padding: 16px;
  margin: auto;
}

.invalid_msg {
  color: red;
  display: block;
  margin: 0px 0px 20px 20px;
}
