@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

a {    text-decoration: none;    color: #333333; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table_none {
    width: 100%;
    margin-bottom: 10px;
    border-collapse:unset;
}
.div_submit {
	width:100%;
	text-align:center;
}

th, td {    padding: 15px;    text-align: left;    border-bottom: 1px solid #ddd; }
th {    background-color: #f8f9fa;   font-weight: 600; }

.td_center { text-align:center; }
.td_right { text-align:right; }
.td_title {  
	font-size: 24px;
	font-weight: bold;
	background-color:#9CA2EE; 
	padding: 15px; 
	text-align:center;}
.page-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
}