body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.welcome {
    font-weight: bold;
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
}

.page-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #007bff;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

.user-info {
    text-align: right;
    margin-bottom: 20px;
}

.search-write {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    align-items: center;
}

.search-write a {
    margin-left: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    text-align: left;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    height: 30px;
    box-sizing: border-box;
}

.writeBtn {
    transform: translateY(-8px);
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    margin-left: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-logout {
    background-color: #7a3bd1;
    color: #fff;
    text-align: center;
    margin-left: 5px;
    height: 30px;
}

.btn-logout:hover {
    background-color: #6518dc;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
    text-align: center;
    height: 30px;
}

.btn-info:hover {
    background-color: #117a8b;
}

.btn-search {
    height: 30px;
    width: 50px;
    margin-left: -5px;
    margin-right: -10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li.active a {
    font-weight: bold;
    color: #007bff;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #333333;
}