<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee http://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>myPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>  
	  <param-name>Driver</param-name>
	  <param-value>com.mysql.cj.jdbc.Driver</param-value>   <!-- 연결할 드라이버 이름 -->
  </context-param>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>myPortal.bbs.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReplyServlet</display-name>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>myPortal.bbs.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/BoardReplyServlet</url-pattern>
  </servlet-mapping>
 <servlet>
 	<servlet-name>BoardPostServlet</servlet-name>
 	<servlet-class>myPortal.bbs.BoardPostServlet</servlet-class>
 	 <multipart-config>
      <max-file-size>20971520</max-file-size>
      <max-request-size>41943040</max-request-size>
      <file-size-threshold>209711520</file-size-threshold>
    </multipart-config>
 </servlet>
 <servlet-mapping>
    <servlet-name>BoardPostServlet</servlet-name>
    <url-pattern>/board/boardPost</url-pattern>
  </servlet-mapping>
</web-app>